<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <p><a href="/add">添加任务</a></p>
        <p><input type="text" name="version" placeholder="请输入发布版本号"></p>
        <p><select name="hosts" multiple="multiple">
            <option value="c1.com">c1.com</option>
            <option value="c2.com">c2.com</option>
            <option value="c3.com">c3.com</option>
        </select></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>
</html>